<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="pt-br"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="pt-br"> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9" lang="pt-br"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" xml:lang="pt-br" lang="pt-br"><!--<![endif]-->
<head>
<!-- ========================================================= -->
<meta charset="utf-8">
<!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- ========================================================= -->
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#222222">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#222222">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#222222">
<!-- ========================================================= -->
<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
<!-- ========================================================= -->
<!-- Bootstrap & FontAwesome -->
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/fontawesome-all.min.css">
<!-- CSS Site -->
<link rel="stylesheet" type="text/css" href="css/padrao.css">
<link rel="stylesheet" type="text/css" href="css/estilo.css">
<!-- ========================================================= -->
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<!-- Angular JS -->
<script src="js/angular/angular.js"></script>
<script src="js/angular/angular-locale_pt-br.js"></script>
<script src="js/angular/functions.js"></script>
<script src="js/angular/angular-messages.js"></script>
<!-- jQuery -->
<script src="js/jquery-2.2.4.min.js"></script>
<!-- ========================================================= -->
<title>Lista Telefonica</title>
<meta name="description" content="Descrição da página"/>
<!-- ========================================================= -->
</head>
<body ng-cloak ng-app="ListaTelefonica">
  <div ng-include="'header.html'"></div>

  <div class="main content container-fluid maxwidth2 nopadding">
    <div class="row">
      <div class="col-12">
        <div class="ListaTelefonica" ng-controller="ListaTelefonicaCtrl">

          <h3 ng-bind="app"></h3><!--bind = imprime valores do scope-->
          <input type="text" ng-model="criterioDeBusca" name="" class="form-control" value="" placeholder="Que nome você está buscando?">
          <table ng-if="contatos.length" class="table table-striped">
            <tr>
              <th></th>
              <th> <a href="#" ng-click="ordenarPor('nome')">Nome</a>
                </th>
              <th><a href="#" ng-click="ordenarPor('telefone')">Telefone</a></th>
              <th><a href="#" ng-click="ordenarPor('operadora.nome')">Operadora</a></th>
              <th><a href="#" ng-click="ordenarPor('data')">Data</a></th>
              <th><a href="#" ng-click="ordenarPor('cor')">Cor</a></th>
            </tr>
            <tr ng-repeat="contato in contatos | filter:{nome:criterioDeBusca} | orderBy:'nome':false | orderBy:criterioOrdem:direcaoOrdem" ng-class="{selecionado: contato.selecionado, negrito: contato.selecionado}">
            <td> <input ng-model="contato.selecionado" type="checkbox" name="checkbox" value=""> </td>
            <td>{{contato.nome}}</td>
            <td>{{contato.telefone}}</td>
            <td>{{contato.operadora.nome | lowercase}}</td>
            <td>{{contato.data | date:"EEEE',' dd 'de' MMMM 'de' yyyy '-' hh:mm"}}</td>
            <td> <div class="cor" style="height:10px" ng-style="{'background-color': contato.cor.nome}">

            </div> </td>
            <!--    <td ng-repeat="(key, value) in contato">
                {{value}}
              </td> -->
            </tr>
          </table>

          <br>

          <div class="form-group">
            <form name="contatoForm">
              <input ng-required="true" placeholder="Nome" class="form-control" type="text" name="nome" value="" ng-model="contato.nome" ng-minlength="10">

              <input ng-required="true" placeholder="Telefone" class="form-control" type="text" name="telefone" ng-value="{{testes.telefone}}" ng-model="contato.telefone" ng-pattern="/^\d{4,5}-\d{4}$/">

              <select ng-required="true" class="form-control operadoras" name="operadoras" ng-model="contato.operadora" ng-options="'(' + (operadora.preco | currency) + ') ' + operadora.nome group by operadora.categoria for operadora in operadoras | orderBy:'nome'">
                <option value="">Selecione uma operadora</option>
              </select>


            <!--  <input type="text" name="data" class="form-control data" ng-model="contato.data" ng-value="{{data}}"> -->

              <select ng-required="true" ng-options="cor.nome group by cores.categoria for cor in cores | orderBy:'nome'" class="form-control cores" name="cores" ng-model="contato.cor">
                <option value="">Selecione uma cor</option>
              </select>

            </form>

            <div ng-if="contatoForm.nome.$dirty" ng-messages="contatoForm.nome.$error">
              <div ng-message="required" class="alert alert-danger">
                Por favor, preencha o nome.
              </div>

              <div ng-message="minlength" class="alert alert-danger">
                O nome precisa ter mais de 10 caracteres.
              </div>
            </div>

            <div ng-if="contatoForm.telefone.$dirty" ng-messages="contatoForm.telefone.$error">
              <div ng-message="required" class="alert alert-danger">
                Por favor, preencha o telefone.
              </div>

              <div ng-message="pattern" class="alert alert-danger">
                O campo telefone deve ter o padrão XXXXX-XXXX.
              </div>
            </div>

              <div ng-if="contatoForm.operadoras.$invalid && contatoForm.operadoras.$dirty" class="alert alert-danger">
                Por favor, selecione uma operadora.
              </div>

              <div class="alert alert-danger" ng-if="contatoForm.cores.$invalid && contatoForm.cores.$dirty">
                Por favor, selecione uma cor.
              </div>

            <button class="btn btn-primary btn-block" type="button" name="addbutton" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">adicionar Contato</button>

            <button ng-if="isContatoSelecionado(contatos)" class="btn btn-danger btn-block" type="button" name="delbutton" ng-click="apagarContato(contatos)" ng-disabled="!isContatoSelecionado(contatos)">Apagar Contato</button>
          </div>

          <br>

        </div>
      </div>
    </div>
  </div>

  <div ng-include="'footer.html'"></div>










<!-- ========================================================= -->
<!-- JS CORE -->
<script src="js/tether.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- CUSTOM JS -->
<script src="js/placeholder.js"></script>
<script src="js/functions.js"></script>
<!-- ========================================================= -->
</body>
</html>
